.about__image {
  border: 2px solid $color-bg;
  padding: 20px;

  @include md-min {
    width: 400px;
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include md-min {
    flex-direction: row;
    gap: 30px;
  }
}

.about__description {
  padding: 15px 0;
  font-size: 18px;
  line-height: 1.4;
}

.about__hallo {
  font-weight: 500;
  font-size: 20px;
}

.about__col--bg {
  background-color: $color-bg;
  margin-right: -22px;
  color: $color-dark;
  padding: 20px;
  margin-top: 20px;

  @include md-min {
    margin-top: 0;
  }
}
.about__star-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.about__star  {
  margin-right: 0;
  margin-left: 0;
}