.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px!important;
  height: 300px;
}

.swiper-pagination-bullet-active {
  background-color: $color-bg!important;
}