.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px!important;
  height: 300px;
}

.swiper-pagination-bullet {
  background-color: #dccec4 !important;
}

.swiper-pagination-bullet-active {
  background-color: $color-bg!important;
}

.works__star-container {
  position: relative;
  left: 95%;
  bottom: 0px;
}